.task{
    margin:10px;
}

.taskList {
    margin: 3px 0;
    padding: 10px 14px;
    background-color: white;
}

.taskList__item {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.taskList__content{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    word-break: break-word;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #ccc;
}

.taskList__item--hidden {
    display: none;
  }
  
.taskList__content--done {
    text-decoration: line-through;
}

.taskList__button {
    padding: 5px;
    font-size: 20px;
    width: 33px;
    height: 33px;
    color: white;
    border: none;
    grid-column: 1;
    background-color: #1b7a22;
    cursor: pointer;
}

.taskList__button:hover {
    background-color: hsl(124, 64%, 39%);
    transition: 1s;
}

.taskList__button--remove {
    grid-column: 3;
    background-color: #a70303; 
}

.taskList__button--remove:hover {
    background-color: #e20606;
    transition: 1s ;
}

